@media(max-width:991px){
    .campain-item{
        width: 48%;
        margin-bottom: 20px;    
    }
    
    
}

@media(max-width:767px){
    .campain-item{
        width: 100%;
        margin-bottom: 20px;    
    }

}
    

@media(max-width:575px){
    

}

@media(max-width:420px){

    
}